@charset "UTF-8";
/* CSS Document */

body {
	background-color:#000;	
	width:100%;
}

#iframe {
	margin:auto;
	width:100%;	
}

#buttony{
	float:left;
	width:90%;
	margin:5% 5%;
	height:25px;
	margin-top:10px;
	background:#34bedc;	
	border: 0px;
	border-radius:10px;
}

#clear{
	clear:both;	
}